
body {
      background: #f2f5f7 url(images/ui-bg_highlight-hard_100_f2f5f7_1x100.png) 50% top repeat-x;
      font-family: Arial,Helvetica,FreeSans,sans-serif;
      color: #5D71B8;
      text-align: center;
}

#header {
    color: #5D71B8;
    font-family: Arial,Helvetica,FreeSans,sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.border {
    border-bottom: 2px solid #CCCCCC;
    border-right: 2px solid #CCCCCC;
    border-top: 2px solid #CCCCCC;
    border-left: 2px solid #CCCCCC;
}

.toolbar {
    background: #DFE7E8;
    font-size: 12px;
    margin-right: 1px;
    width: 100%;
}

h3 {
  padding-top: 3px;
}

.fill_parent {
    height : 100%;
    width : 100%;
}

#views {
    float: left
}

ul li {
    list-style-type: none;
}

.form input {
    width : 40px;
}

.filter-param {
    width : 30px;
}

.colorpicker {
    z-index : 1000000;
}